button {
	height: 5vh;
	margin: 10px 10px;
}

.menu {
	display: flex;
	justify-content: center;
}

.label {
	margin: 0 1vh;
	font-size: 2.7vh;
}

.size-slider-container,
.delay-slider-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#delayInput,
#sizeInput {
	width: min-content;
}

.array-container {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: flex;
	align-items: flex-end;
	margin: 0 3vh;
}

.array-bar {
	background: turquoise;
	margin: 0px 0.1vh;
	display: inline-block;
	width: 100vh;
}

.compared-bar {
	background: orange;
}

.completed-bar {
	background: green;
}
